body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    background: #212121;
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
}
.nav {
    &__logo {

    }
    &__menu {
        display: flex;
        align-items: center;
    }
}