body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    background: #212121;
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
}
.nav {
    &__menu {
        display: flex;
        align-items: center;
    }
}

.prev {
    background: center/cover url('/assets/Group\ 3087.jpg') no-repeat;
    & .container {
        padding: 150px 0;
    }
    &__content {
        max-width: 50%;
        padding-right: 100px;
    }
    &__title {
        font-size: 88px;
        color: white;
    }
    &__desc {
        font-size: 18px;
        color: white;
        margin: 50px 0;
        padding-right: 35%;
        line-height: 175%;
    }
    &__link {
        font-size: 18px;
        color: white;
    }
}

.advant {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 50%;
        height: 100px;
        background: blue;
        border-radius: 20px;
        padding: 40px;
        &:first-child {
            flex: 0 0 32%;
            height: 100px;
            background: red;
            margin: 0 40px 40px 0;
        }
        &:last-child {
            flex: 0 0 32%;
            height: 100px;
            background: red;
            margin: 0px 0px 0px 40px;
        }
    }
}